.vux-header .vux-header-left .left-arrow{
    top: 0.01rem !important;
}
.activity_box{
    position: fixed;
    width:90%;
    left:5%;
    height:auto;
    bottom: 3rem;
    z-index: 99999;
}
.activity_img{
     position: absolute;
     width:100%;
     height:auto;
     top:0;
     left:0;
 }
.activity_cha{
    position: absolute;
    top: 0;
    right: 0.1rem;
    width: 0.6rem;
    height: auto;
}
.gotop {
    text-align: center;
    position: fixed;
    right: 0.5rem;
    bottom: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    color: #000000;
    z-index: 99999999999;
    width: 1rem;
}
#dis_requ{
    display: none;
}
#dis_requ_show{
    display: block;
}
.display_none{
    display: none !important;
}
.display_show{
    display: block !important;
}
.line{
    width: 100vw;
    height: 0.266667rem;
    background-color: #F2F3F4;
}
.to_detail_alert{
    width: 90%;
    height: 9.5rem;
    position: fixed;
    top: 10%;
    left: 5%;
}
.to_account_alert{
    width:80%;
    height:10.75rem;
    position: fixed;
    top:2rem;
    left:10%;
    background-color: #FFFFFF;
    border-radius: 0.2rem;
}
.to_account_img{
    width:90%;
    margin: 0 auto;
    height:3rem;
    display: block;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.to_account_QRCODE{
    width:40%;
    margin: 0 auto;
    height:auto;
    display: block;
    margin-top: 0.4rem;
}
.to_account_text{
    width:80%;
    margin: 0 auto;
    height:auto;
    display: block;
    margin-top: 0.5rem;
}
.to_detail_img{
    width:90%;
    margin: 0 auto;
    height:auto;
    display: block;
}
.to_detail_div{
    width:80%;
    height:1.5rem;
    margin: 0 auto;
    background-color:#008DE1 ;
    border-radius: 0 0 0.2rem 0.2rem;
    color:#FFFFFF;
    font-size: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
}
.to_detail_i{
    font-size: 0.6rem;
    height: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #999999;
    border: 0.05rem solid #999999;
    width: 0.6rem;
    border-radius: 50%;
    padding: 0.2rem;
    top: -0.7rem;
}
.r_p_box{
    width: 90%;
    margin-left: 5%;
    height: 1.5rem;
    color: #333333;
    font-size: 0.4rem;
}
.header_border{
    width:100%;
    margin-top: 0.2rem;
    border-top: 1px solid #ebebeb;
}

.center_mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999999999999;
    width:5.5rem;
}
.home_ref{
    width: 100% !important;
    padding-bottom: 4rem;
    background: rgba(0, 0, 0, 0.5);
}
.nav_cancel{
    width:85%;
    height:1rem;
    margin-top: 0.5rem;
}
.cancel_img{
    width:0.5rem;
    height:auto;
    float: right;
}
.nav_border{
    width:70%;
    border:0.5px solid #edf0ec;
    margin: 0 auto;
    margin-top: 0.3rem;
}
.nav_tabs{
    width:60%;
    height:auto;
    margin-left:15%;
    margin-top:0.5rem;
}
.nav_li{
    color:#000000;
    font-size: 0.4rem;
    height:0.9rem;
    line-height: 0.9rem;
    font-family: 微软雅黑;
}
.nav_footer{
    position: absolute;
    bottom: 0.8rem;
    left: 15%;
}
/**内容*/
.center_content {
    position: fixed;
    width: 79%;
    top: 0;
    bottom: 0;
    transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -os-transition: all .4s;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    background: #fff;
    -os-transform: translateX(-120%);
    transform: translateX(-120%);
}

.body{
    width:100%;
    background-color: #f5f5f5;
}
.home_head{
    height:25rem;
    width:100%;
    position: relative;
    margin-bottom: 0.4rem;
}
.head_top{
    width:90%;
    height:3.5rem;
    position: absolute;
    left: 5%;
    top:1rem;
    z-index: 999999;
}
.top_img1{
    width:1.6rem;
    height:auto;
    margin-right:0.3rem;
    float: left;
    z-index: 999999;
}
.top_img2{
    width:3.6rem;
    height:auto;
    float: left;
    z-index: 999999;
}
.class_img2{
    width:100%;
    z-index: 999999;
    border-radius: 0.1rem;
}
.top_img3{
    width: 1.2rem;
    height:auto;
    float: right;
    z-index: 999999;
}
.head_search{
    width: 90%;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 999999;
    background-color: #fff;
    border-radius: 5px;
}
.history_box{
     position: absolute;
     top: 100%;
     left: 0;
     width: 100%;
     padding-top: 2px;
     display: none;
 }
.history_box_content{
    min-height: 6rem;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 17px;
    max-height: 8rem;
    overflow-y: auto;
}
.history_box_title{
    margin-bottom: 0.15rem;
}
.OLt9U{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 10px;
    color: #666;
}
.b5nQ3{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    border-left: 1px solid #ddd;
    padding-left: 10px;
    color: #008DE1;
    cursor: pointer;
}
._4enLb{
    position: relative;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #ccc;
    margin: 0 5px 5px 0;
    border-radius: 4px;
    color: #666;
}
._34evo{
    display: inline-block;
    max-width: 75px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    vertical-align: middle;
    padding: 7px 5px 7px 5px;
}
.head_s_l{
    width: 5rem;
    float: left;
    height: 2.5rem;
    cursor: pointer;
    outline: none;
    padding: 0.25rem 0.2rem;
    position: relative;
    color: #333333;
}
.home_search_icon{
	margin: 0.3rem 1rem 0px 0rem;
	    float: right;
}
.head_s_l span{
    text-indent: 0.2rem;
    font-size: 0.4rem;
    line-height: 30px;
    padding-left: 0.3rem;
}
.head_s_l_bor{
    border-right: 0.02rem solid #cccccc;
    height:1.2rem;
    float: left;
    margin-top: 0.6rem;
}
.tab_index{
    width: 4rem;
    height: auto;
    background-color: #fff;
    border-radius: 0.2rem;
    position: absolute;
    bottom: 2.8rem;
    left: 5%;
}
.tab_index_2{
    width: 2rem;
    height: auto;
    border-radius: 0.1rem;
    position: absolute;
    display: none;
    top: 1.1rem;
    left: 5%;
    z-index: 99999;
    background-color: rgb(247, 248, 250)
}
.tab_index_l{
    line-height: 44px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    width: 100%;
    font-size: 0.8rem;
}
.tab_active{
     color:#008DE1
 }
.images_title{
    color: #333333;
    font-family: 微软雅黑;
    font-size: 0.45rem;
    margin-bottom: 0.4rem;
    text-align: left;
    width: 90%;
    margin-left: 5%;
}
.uni-input-placeholder{
	height: 2rem;
	    line-height: 2rem;
}
.search_text{
    width: 8rem;
    text-indent: 0.3rem;
    border: 0;
    height: 2.5rem;
    float: left;
    border-radius: 5px;
}
.search_top{
    width: 90%;
    margin-left: 5%;
    background-color: #f7f8fa;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.1rem;
}
.search_submit{
    border: none;
    padding: 0;
    width: 3.6rem;
    height: 2.5rem;
    background-color: #008DE1;
    border-radius: 0px 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
input::placeholder {
    font-size: 0.41rem;
    color:#cccccc;
}
input{
    font-size: 0.4rem;
}
::-webkit-input-placeholder{
    font-size: 13px;
}
.button_img{
    width: 0.5rem;
    height:auto;
    z-index: 999999;
}
.my-swipe .van-swipe-item {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.hidden_title{
    margin: 0 auto;
    margin-top:0.8rem;
    width:50%;
    height:37px;
    margin-bottom: 1.1rem;
    z-index: 999;
}
.hidden_title_p{
    font-family: 微软雅黑;
    color: #000;
    font-weight:bold;
    font-size:20px ;
    text-align: center;
}
.title_border{
    width: 0.9rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 0.2rem;
    border-top: 3px solid #009dfb;
}
.bl_1{
    height:auto;
    margin-left: 2%;
    column-count: 2;
    width: 95%;
    margin-top: 0.4rem;
    margin-right: 3%;
    column-gap: 0.1rem;
}
.bl_1_left{
    width:50%;
    height:auto;
    float: left;
}
.bl_1_right{
    width:50%;
    height:auto;
    float: right;
}
.bl_box{
    position: relative;
    height:auto;
    min-height: 2rem;
    border-radius: 5px;
    margin-bottom: 0.05rem;
    break-inside: avoid;
    height:auto;
}
.bl_box_title{
    opacity: 0.35;
    z-index:100;
    background-color:#000;
    height:99%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    font-family: 微软雅黑;
    display: flex;
    align-items: center;
    border-radius: 0.1rem;
}
.bl_box_title_p{
    position: absolute;
    top: 43%;
    z-index: 90999;
    color:#fff;
    opacity: 1;
    font-size:0.4rem;
    font-weight:bold;
    width: 100%;
    text-align: center;
}
.bl_more{
    width:5rem;
    height:1.5rem;
    border-radius: 5px;
    margin:0.8rem auto;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 微软雅黑;
    line-height: 1.5rem;
    letter-spacing:0.2rem;
    display: block;
    border: 1px solid #bfbfbf;
}
.bl_2{
    width:90%;
    margin:0 auto;
    border-radius: 5px;
}
.bl_img2{
    width:100%;
    height:5.5rem !important;
}
.bl_3{
    width:92%;
    height:auto;
    margin-left: 5%;
}
.bl_3_box{
    width: 5.8rem;
    height: auto;
    float: left;
    margin-right: 0.2rem;
    background-color: #ffffff;
    margin-bottom: 0.15rem;
}
.footer{
    width:100%;
    height:11rem;
    background-color: #333333;
    margin-top: 1.6rem;
}
.footer_content{
    width:90%;
    height:8rem;
    margin:0 auto;
    padding-top: 2rem;
}
.call_phone_img{
    margin-top: 0.6rem;
    margin-left: 1.2rem;
    width: 0.7rem;
    height: 0.7rem;
    float: left;
    margin-right: 0.4rem
}
.call_phone{
    width:8.2rem;
    height:1.8rem;
    border-radius: 8px;
    background-color: #009dfb;
    line-height: 1.8rem;
    float: left;
    font-size: 0.68rem;
    font-family: 微软雅黑;
    letter-spacing:0.1rem;
    color:#fff
}

.footer_img1{
    float: right;
    width:4rem;
    height:auto;
}
.footer_content_2{
    color:#5f5f5f;
    width:70%;
    height:auto;
    float: left;
}
.footer_img2{
    float: right;
    width:4.4rem;
    height:auto;
}
/*再次搜索页面*/
.no_search{
    width:60%;
    margin-left: 20%;
    padding-top: 2rem;
}
.no_search_img{
    width:4rem;
    height:auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
}
.no_search_p{
    width: 100%;
    color: #DBDBDB;
    font-size: 0.35rem;
    text-align: center;
    line-height: 0.5rem;
    margin-top: 0.3rem;
}
.no_search_div{
    width:100%;
    color:#009DFB;
    font-size: 0.35rem;
    text-align: center;
    line-height: 0.5rem;
    margin-top: 0.2rem;
}
.van-search__content--round{
 border-radius: 5px !important;
}
.search_desc{
    width: 100%;
    height: 0.5rem;
    margin-top: 0.3rem;
    text-align: center;
}
.search_desc_text{
    font-size: 0.34rem;
}
.color_blue{
    color: #009DFB;
}

.solid_border{
    width:90%;
    margin-left: 5%;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 0.2rem;
    background-color: #fff;
    border-top:none;
}
.requirements_shadow{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
}
.requirements{
    width: 80%;
    height: 11rem;
    background-color: #FFFFFF;
    position: absolute;
    top: 3.6rem;
    left: 10%;
    opacity:1;
    border-radius: 0.15rem;
}
.requirements_title{
    width: 100%;
    height: 1.1rem;
    font-size: 0.45rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 1.1rem;
    text-align: center;
    margin-top: 0.3rem;
}
.input_textarea{
    height: 2.6rem;
    margin-top: 0.266667rem;
    width: 90%;
    margin-left: 5%;
    border: 1px solid rgba(153,153,153,1);
    border-radius: 0.15rem;
}
.input_textarea .van-field__control {
    min-height: 2.2rem !important;
}
.input_text{
    height: 1.3rem;
    margin-top: 0.266667rem;
    width: 90%;
    margin-left: 5%;
    border: 1px solid rgba(153,153,153,1);
    border-radius: 0.15rem;
}
.input_text .van-field__control {
    min-height: 0.7rem !important;
}
/*详情页*/
.detail_logo_img{
    width: 2.8rem;
    margin-top: 0.2rem;
}
.detail_search_img{
    float: right;
    width:0.8rem;
    height:auto;
    margin-right: 0.4rem;
}
.detail_my_img{
    float: right;
    width:0.8rem;
    height:auto;
    margin-right: 0.8rem;
}
.vux-header-title-area, .vux-header .vux-header-title {
    margin: 0 88px;
    height: 40px;
    width: 80% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detail_img_content{
    width:90%;
    margin-left: 5%;
    height:auto;
    padding-top: 0.3rem;
}
.de_box_1{
    float: left;
    width:5rem;
}
.de_box_2{
    float: right;
    width:2rem;
    margin-right: 0.5rem;
}
.de_l{
    color:#333333;
    font-family: 微软雅黑;
    font-size: 0.45rem;
    display: block;
    margin-top: 0.3rem;
}
.de_2{
    color:#333333;
    font-family: 微软雅黑;
    font-size: 0.45rem;
    display: block;
}
.de_3{
    color:#999999;
    font-family: 微软雅黑;
    font-size: 0.33rem;
    display: block;
    margin-top: 0.2rem;
}

.de_box_3{
    width:3.5rem;
    float: left;
}
.de_box_4{
    width: 2.5rem;
    float: left;
}
.de_box_5{
    float: right;
    width:2rem;
    margin-right: 0.5rem;
}
.de_4{
    color:#999999;
    font-family: 微软雅黑;
    font-size: 0.3rem;
    margin-top: 0.4rem;
    line-height: 0.4rem;
    display: block;
    float: left;
}
.de_4_box{
    height: 1rem;
}
.de_4_img{
    float: left;
    width: 0.5rem;
    height: auto;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}
.down_img{
    width:90%;
    height:1.2rem;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #009DFB;
    display: block;
    text-align: center;
    line-height: 1.2rem;
    color: #FFFFFF;
    font-size: 0.4rem;
    margin-bottom: 0.3rem;
}
.purchase_card{
    width:90%;
    height:1.2rem;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #FB5300;
    display: block;
    text-align: center;
    line-height: 1.2rem;
    color: #FFFFFF;
    font-size: 0.5rem;
}
/*分类列表页*/
.header{
    width: 100%;
    height: 0.9rem;
    z-index: 999;
    background-color: #ffffff;
    padding-top: 0.5rem;
}
.header_return_img{
    width:0.3rem;
    height:auto;
    margin-left: 0.7rem;
    float: left;
}
.header_logo_img{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:2rem;
    height:auto;
    float: left;
}
.header_my_img{
    float: right;
    width:0.6rem;
    height:auto;
    margin-right: 0.7rem;
}
.header_search_img{
    float: right;
    width:0.6rem;
    height:auto;
    margin-right: 0.5rem;
}
/*收藏*/
.fav_head{
    width:90%;
    height:auto;
    margin-left: 5%;
    margin-top: 0.3rem;
}
.fav_left{
    float: left;
    color: #333333;
    font-size: 0.4rem;
}
.fav_right{
    float: right;
    color: #333333;
    font-size: 0.4rem;
    margin-right: 0.2rem;
}
/*下载记录*/
.title_down_p_l{
     float:left;font-size: 0.4rem;font-family: 微软雅黑;font-weight: 400;color: rgba(51,51,51,1);margin-top: 0.3rem;
 }
.title_down_p_r{
    float:right;font-size: 0.4rem;font-family: 微软雅黑;font-weight: 400;color: rgba(51,51,51,1);margin-top: 0.3rem;
}
.down_box{
    width:100%;
    height: 3.5rem;
    background:rgba(255,255,255,1);
    border-radius:0.2rem;
    margin-bottom: 0.3rem;
}
.down_box_right{
    width: 50%;
    float: left;
    height: 2.3rem;
    margin-top: 0.5rem;
    border-left: 0.01rem solid #E0E0E0;
    margin-left: 0.2rem;
}
.down_box_right p{
    color:#333333;
    padding-left: 0.3rem;
    font-size: 0.25rem;
    font-family:微软雅黑;
    font-weight:400;
    line-height: 0.5rem;
}
.no_down_box{
    width: 60%;
    height:4rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.no_down_box p{
    font-size: 0.4rem;
    font-family: 微软雅黑;
    font-weight: 400;
    color: rgba(219,219,219,1);
    margin-top: 0.15rem;
    line-height: 0.6rem;
    text-align: center;
}
/*下载卡*/
.user_message{
    width:90%;
    height:3rem;
    /*border:0.01rem solid #969799;*/
    border-radius: 0.2rem;
    margin-top: 0.7rem;
    box-shadow: 0px 0.02rem 0.3rem 0px
    rgba(0, 0, 0, 0.08);
}
.down_card_content{
    width: 100%;
    margin-left: 5%;
}
.user_content{
    width:90%;
    height:100%;
    margin-left: 5%;
}
.user_logo{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    float: left;
    border: 0.04rem solid #FFFFFF;
    margin-top: 0.3rem;
}
.u_l_1{
    width: 45%;
    height: auto;
    float: left;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
}
.u_l_p1{
    color:#333333;
    font-size: 0.4rem;
    font-family:微软雅黑;
    font-weight:400;
    line-height: 0.5rem;
}
.u_l_p2{
    color: #333333;
    font-size:0.3rem;
    font-family:微软雅黑;
    font-weight:400;
    line-height: 0.8rem;
}
.use_m_l{
    float: left;
    width: 50%;
    margin-top: 0.35rem;
    height: auto;
    margin-left: 0.2rem;
}
.use_m_l p{
    color: #292B32;
    font-size: 0.35rem;
    font-family: 微软雅黑;
    font-weight: 400;
    line-height: 0.5rem;
}
.use_m_r{
    float: right;
    margin-top: 0.35rem;
    width: 45%;
    height:auto;
}
.use_m_r p{
    color: #292B32;
    font-size: 0.35rem;
    font-family: 微软雅黑;
    font-weight: 400;
    line-height: 0.5rem;
}
.user_icon{
    width: 0.4rem;
    float: left;
    height: auto;
    margin-right: 0.2rem;
}
.down_title{
    height: 0.6rem;
    font-size: 0.4rem;
    color: #333333;
    font-family: 微软雅黑;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5rem;
    width:90%;
}
.down_time{
    width:90%;
    height: 0.6rem;
    font-size: 0.3rem;
    color: #666666;
    font-family: 微软雅黑;
    font-weight: 400;
    text-align: center;
}
.buy_card_box{
    width: 2.8rem;
    height: 4rem;
    border: 0.01rem solid #BF9676;
    border: solid 1px #cccccc;
    border-radius: 0.3rem;
    /*background-color: #f7f7f7;*/
    /*background-image: linear-gradient(0deg, #efcfa9 0%, #fbe7cf 100%);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pay_span{
    font-size: 0.4rem;
    color: #333333;
    font-weight:500;
}
.pay_selected{
    color: rgb(0, 157, 251) !important;
}
.pay-wrapper-list li{
    margin:0.4rem 0;
}
.b_c_b_1{
    font-size: 0.4rem;
    font-family: 微软雅黑;
    font-weight: 600;
    color: #333333;
    text-align: center;
    margin-top: 0.3rem;
}
.b_c_b_2{
    font-size: 0.9rem;
    font-family: 微软雅黑;
    font-weight: 600;
    color: #deb565;
    text-align: center;
    margin-top: 0.2rem;
    padding-right: 0.15rem;
}
.b_c_b_3{
    font-size: 0.4rem;
    font-family: 微软雅黑;
    font-weight: 400;
    color: #999999;
    text-align: center;
    margin-top: 0.15rem;
    display: block;
}
.b_c_b_4{
    font-size: 0.3rem;
    font-family: 微软雅黑;
    font-weight: 400;
    color:  #999999;
    text-align: center;
    margin-top: 0.05rem;
}
.active {
    border-bottom: 1px solid #FE4520;
    color: #FE4520;
}
/*个人中心*/
.setting_logo{
    width:0.8rem !important;
    position: absolute;
    right: 1.4rem;
    height:0.8rem !important;
    border-radius: 50%;
}

.down_card_message{
    width:96%;
    height:1.2rem;
    border-radius: 0.2rem;
    background-color: #fff;
    margin-top: 0.3rem;
    box-shadow: 0px 0.02rem 0.1rem 0px rgba(0, 0, 0, 0.08);
    position: fixed;
    bottom: 2rem;
    left: 2%;
    z-index: 99999999999;
}
/*修改详细信息*/
.list-item_logo{
    position: relative;
    width: 50%;
    height:3rem;
    margin: 0 auto;
}
.user_detail_logo{
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    margin-top: 1rem;
}
.user_detail_logo_text{
    font-size: 0.4rem;
    text-align: center;
    margin-top: 0.2rem;
}
.user_select_div{
    position: absolute;
    right: 0.9rem;
    margin-top:0px;outline:none;border-radius:4px;
}
.user_detail_select{
    direction: rtl;
    height:40px;-webkit-appearance:none;appearance:none;border:none;font-size:18px;padding:0px 10px;
    display:block;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;background-color: #FFFFFF;color:#666666;border-radius:4px;
}
.van-area{
    position: fixed;
    bottom: 1rem;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.requirements_user{
    width: 100%;
    height: 7.5rem;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 0rem;
    left: 0;
    opacity: 1;
}
.area_area{
    width: 5rem;
    height: 1rem;
    margin-left: 2rem;
}
.area_area_text{
    color: #666666;
    line-height: 1rem;
    text-align: right;
}
.brand_alert{
    width:90%;
    height:5rem;
    position: fixed;
    left: 5%;
    top:6rem;
    background-color: #fff;
    border-radius: 0.2rem;
}
.activity_p1{
    position: fixed;
    bottom: 0.2rem;
    width: 90%;
    left:5%;
    z-index: 9999999;
    display: none;
    animation:mymove 8s infinite;
    -webkit-animation:mymove 8s infinite; /*Safari and Chrome*/
}
@keyframes mymove
{
    0% {
        bottom:-1rem;
    }
    25% {
        bottom:1rem;
    }
    50% {
        bottom:1rem;
    }
    75% {
        bottom:1rem;
    }
    100% {
        bottom:-1rem;
    }
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    0% {
        bottom:-1rem;
    }
    25% {
        bottom:1rem;
    }
    50% {
        bottom:1rem;
    }
    75% {
        bottom:1rem;
    }
    100% {
        bottom:-1rem;
    }
}
.advertisement{
    position: absolute;
    width: 90%;
    height:auto;
    margin-top: 0.5rem;
    animation:advertisementmove 10s infinite;
    -webkit-animation:advertisementmove 10s infinite; /*Safari and Chrome*/
}
@keyframes advertisementmove
{
    0% {left:-100%;}
    10% {left:-80%;}
    20% {left:-60%;}
    30% {left:-40%;}
    40% {left:-20%;}
    50% {left:0%;}
    60% {left:20%;}
    70% {left:40%;}
    80% {left:60%;}
    90% {left:80%;}
    100% {left:100%;}
}

@-webkit-keyframes advertisementmove /*Safari and Chrome*/
{
    0% {
        left:-10rem;
    }
    25% {
        left:-5rem;
    }
    50% {
        left:0rem;
    }
    75% {
        left:5rem;
    }
    100% {
        left:10rem;
    }
}
.advertisement2{
    position: absolute;
    width: 90%;
    height:auto;
    margin-top: 0.5rem;
    animation:advertisementmove2 10s infinite;
    -webkit-animation:advertisementmove2 10s infinite; /*Safari and Chrome*/
}
@keyframes advertisementmove2
{
    0% {left:0%;}
    10% {left:20%;}
    20% {left:40%;}
    30% {left:60%;}
    40% {left:80%;}
    50% {left:100%;}
    60% {left:-100%;}
    70% {left:-80%;}
    80% {left:-60%;}
    90% {left:-40%;}
    100% {left:-20%;}
}

@-webkit-keyframes advertisementmove2 /*Safari and Chrome*/
{
    0% {
        left:10rem;
    }
    25% {
        left:5rem;
    }
    50% {
        left:0rem;
    }
    75% {
        left:-5rem;
    }
    100% {
        left:-10rem;
    }
}
.coupon_i{
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin-top: 0.05rem;
}
.coupon-title{
    margin-left: 0.133333rem;
    font-size: 0.35rem;
    float: left;
    color:#666666;
    font-family: 微软雅黑;
}
.coupon-right{
    width:50%;
    float: right;

}
.coupon-right span{
    font-size: 0.35rem;
    display: block;
    float: right;
    margin-right: 0.2rem;
    color:#666666;
    font-family: 微软雅黑;
}
.coupon-select{
    width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.1rem;
}
.coupon_slect{
    width:90%;
    margin-top: 0.4rem;
}
.alertcou{
    position: fixed;
    top: 10%;
    width: 90%;
    height: auto;
    left: 5%;
}
.activity_h{
    height:28rem;
    width: auto;
    position: relative;
    background-color: #f1132a;
}
.activity_1{
    position: absolute;
    top: 9rem;
    width: 70%;
    min-height: 4.5rem;
    margin: 0 15%;
}
.activity_1 p{
    text-align: center;
    color: #009ffd;
    font-size: 0.37rem;
    margin-top: 0.2rem;
}
.activity_1 ul {
    width: 100%;
    margin-top: 0.2rem;
}
.activity_1 ul li{
    width: 90%;
    height: 1.2rem;
    margin-top: 0.2rem;
    margin-left: 5%;
    border-bottom: 0.03rem solid #cccccc;
}
.activity_1>ul>li>span{
    width: 25%;
    font-size: 0.3rem;
    line-height: 0.8rem;
    display: block;
    float: left;
    margin-top: 0.4rem;
}
.activity_1 ul li input{
    display: block;
    float: right;
    width: 74%;
    background: none;
    outline: none;
    border: none;
    height: 1rem;
    padding-top: 0.3rem;
}
.activity_1 ul li input::-webkit-input-placeholder{
    color: #cccccc;
    font-size: 0.3rem;
    line-height: 0.5rem;
    letter-spacing: 0.05rem;
}
.input_2_w{
    width: 39% !important;
    margin-right: 0.4rem;
}
.code_message{
    width: 27%;
    border-radius: 0.1rem;
    border: 0.02rem solid #fb4142;
    float: right;
    height: 0.6rem;
    text-align: center;
    margin-top: 0.4rem;
}
.code_message span{
    font-size: 0.3rem;
    color: #fb4142;
    line-height: 0.6rem;
}
.ac_sub{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    margin-top: 0.2rem;
}
.activity_head{
    height:14.7rem ;
    width:100%;
    position: relative;
}
.activity_2{
    width:100%;
    height: 7.9rem;
    position: relative;
    overflow: hidden;
}
.ac_2_box{
    position: absolute;
    top: 1.2rem;
    width: 74%;
    max-height: 6rem;
    margin: 0 13%;
    overflow: hidden;
}
.activity_2 ul{

}
.activity_2 ul li{
    width: 100%;
    height: 1.2rem;
    margin-top: 0.15rem;
    border-bottom: 0.01rem dashed #ffffff;
    margin-bottom: 0.15rem;
}
.ac_logo{
    border-radius: 0.2rem;
    width: 15%;
    float: left;
}
.ac_2_ri{
    float: left;
    width: 80%;
    height:100%;
    margin-left: 4%;
}
.ac_2_title{
    color:#ffffff;
    font-size: 0.2rem;
    font-family: 微软雅黑;
    display: block;
    float: left;
}
.ac_2_time{
    color:#FFFFFF;
    font-size: 0.2rem;
    font-family: 微软雅黑;
    display: block;
    float: right;
}
.ac_2_ri p{
    color:#FFFFFF;
    font-size: 0.2rem;
    font-family: 微软雅黑;
    line-height: 1rem;
}
